/archive
/clan-LJ22CQQ0-2025-03-21-10-03-24.csv
/clan-LJ22CQQ0-2025-03-25-07-03-70.csv
/clan-LJ22CQQ0-2025-04-01-13-04-20.csv
/clan_stat.xlsx
/clan_stat_0104.xlsx
/clan_stat_2503.xlsx
/data_description.txt
/digit-recognition.py
/digit-recognizer
/first_exam.py
/first_program.py
/house_prices.py
/module2.py
/module2_new.py
/royale_api_cw_info.py
/sample_submission.csv
/schemas
/submission.csv
/submission1.csv
/submission2.csv
/test.csv
/titanic
/titanic.py
/Titanic_sub.csv
/train.csv